/* Inizio gestione dei colori */
:root {
    --bs-dark-rgb: 31, 31, 31;
    --bs-secondary-rgb: 190, 188, 187;
    --bs-info-rgb: 0, 67, 156;
}
.btn-dark {
    background-color: #363636;
}

.btn-danger {
    background-color: #CD3D0F;
}

.btn-info {
    background-color: #2D64E6;
}

.bg-secondary .btn-light {
    background-color: #D9DADC;
}

.bg_dark_blue {
    background-color: #161C3B;
}

.my_text_info {
    color: #0072CE !important;
}

/* Fine gestione dei colori */

/* Inizio gestione dei font */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

h4 {
    font-size: 1.3rem;
}

h5,
small,
footer {
    font-size: 0.9rem;
}

.text_right {
    text-align: right;
}

.text_super {
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: #2D64E6 !important;
}

.section-title {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  .section-title.section-title-small {
    margin-bottom: 30px;
    font-size: 2.3rem;
  }
  
  .text_subtitle {
    color: #727272;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
/* Fine gestione dei font */

/* Inizio gestione background-image */
#returnal {
    background-image: url(../img/jumbo-bg.png);
    color: white !important;
    background-position-x: center;
}

#returnal img {
    width: 60%;
    margin-left: -12px;
}

#it_takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: white !important;
    background-position-x: center;
}

#it_takes_two img {
    width: 50%;
}

.playstation_items_container .card img {
    opacity: 0.5;
}

.playstation_items_container .card_active_bottom img {
    opacity: 1;
}

/* Fine gestione background-image */

/* Inizio gestione card */
.card_active {
    position: relative;
}

.card_active::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    border: 3px solid blue;
    border-radius: 16px;
}

.card_active_bottom {
    border-radius: 0px;
    border-bottom: 3px solid blue !important;
}
/* Fine gestione card */

/* Inizio gestione spaziature */

.padding_y_s {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding_y_m {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding_y_l {
    padding-top: 70px;
    padding-bottom: 70px;
}

.rounded_16 {
    border-radius: 16px;
}

#returnal .padding_y_m {
    padding-top: 300px;
    padding-bottom: 50px;
}

.ps_footer_logo_margin_negative {
    margin-left: -16px;
}
/* Fine gestione spaziature */

/* Inizio gestione hover */
.navbar .navbar-nav .nav-link:hover,
.navbar .ms-auto .nav-link:hover {
    color: #2D64E6 !important;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .ms-auto .nav-link:focus {
    color: #0072CE !important;
}

.playstation_items_container .card:hover img {
    opacity: 1;
}

.games_container .card:hover {
    transform: translateY(-10px);
}

header {
    z-index: 99;
}

header .navbar-nav .nav-link + .dropdown-menu,
.navbar .ms-auto .nav-link + .dropdown-menu {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: -100px;
    justify-content: center;
    border: 0;
    border-radius: 0;
    border-top: 1px solid lightgray;
    transition: all .3s;
    overflow: hidden;
    z-index: -1;
  }
  
  header .navbar-nav .nav-link:focus + .dropdown-menu,
  .navbar .ms-auto .nav-link:focus + .dropdown-menu {
    top: 116px;
  }

